
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <Header />
    <main>

<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
<div class='justify-center flex flex-wrap px-4 py-4 mt-8 ' >
<p class="text-center mt-24 mb-8 mx-4"><a href='/AQL2025_Program.pdf' class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium" 
download="AQL2025_Program.pdf">
Download full AQL program</a></p>
<p class="text-center mt-24 mb-8 mx-4"><a href='/AQL2025_BookOfAbstracts.pdf' class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium" 
download="AQL2025_BookOfAbstracts.pdf">
Download the book of abstracts</a></p>
</div>

</div>



    <div class="container px-4 py-4">
        <h2 class="text-blue-900 font-bold text-3xl text-center mt-8">History of the AQL</h2>


  <div class='container left-20 right-20 top-50 px-4 py-4' >
	
	The first AQL meeting took place in Erlangen, Germany in 1996. The collaborative workshop forum was first intended to be a venue where voice laboratories in Europe 
	(mainly from Germany), could meet annually to provide updates on their progress on different aspects of quantitative assessment of laryngeal functions, 
	voice and speech, and to set new goals. This collaborative effort was funded by member laboratories, and the German Research Foundation (DFG), 
	in conjunction with other European funding agencies, the laboratories’ institutional funding mechanisms, and/or through grants from private industry. 
	The first four AQL meetings were thus collaborative workshops between European member-laboratories, producing progress reports. 
	Non-member participants from other laboratories and nationalities were also involved.
	  </br>  </br>
	
	Over the next four years (1996-2000), the AQL initiative grew very quickly and gained the respect and recognition of the international voice community. The meeting quickly expanded from 15 to 50 participants. The AQL meeting was first intended to be a venue where voice laboratories in Europe could meet annually to provide updates on their progress on different aspects of quantitative assessment of laryngeal functions, voice and speech, and to set new goals. The 2001 AQL conference in Groningen, the Netherlands, marked the first international AQL with participants from across the world. 
	    </br>  </br>
	
	The following AQL International Conferences were held in Hamburg, Germany (2003); in Groningen, the Netherlands (2006); in Stockholm, Sweden (2008); 
	and in Erlangen, Germany (2010). These international scientific meetings had a strong impact on voice research, through the publication of proceeding materials. 
	Since the 9th AQL 2010, in Erlangen, Germany, student workshops aimed at disseminating voice science have been added to the scope. 
	Funding for the student summer school was initially obtained from the COST Action 2103 “Advanced voice function assessment,” for dissemination of scientific 
	knowledge among scientists and students from the participating European nations. In July 2012, another voice conference, 
	the 8th International Conference on Voice Physiology and Biomechanics, was similarly organized in cooperation with the COST Action 2103.
	    	</br>
	  	</br>
	The AQL was first held outside Europe in 2013. The 10th AQL Conference, in Cincinnati, Ohio, further broadened the scope and outreach of the previous AQL 
	conferences. The AQL returned to Europe in London, the United Kingdom, in 2015 where it was held in conjunction with the 4th International Occupational Voice Symposium. 
	The 12th AQL was held in Hong Kong, the first AQL conference to be held around the Asia-Pacific Rim. 
	<u><a href='https://aql2019.conference.mcgill.ca/index.html'>The 13th AQL</a></u> was held in Montreal, Canada, <u><a href='https://aql2021.sciencesconf.org/'>the 14th AQL</a></u> was held in Bogotá, Colombia (virtual), and the 15th AQL was held in Phoenix, Arizona. 
	   </br>  </br>
	
	In 2025, the 16th AQL will return to Groningen, the Netherlands. 
	  </div>


</div>


    </main>
    <Footer />
  </body>
</html>
