
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <HeadBase title={FULL_TITLE} />
  </head> 
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        </div>

<div class="container px-4 py-4">

	<div class='flex flex-col py-4 mt-8 mb-8 text-center'>
		<div class='text-3xl flex flex-col py-4 mt-8 text-center bg-blue-900 text-white'>
			Er gaat niets boven Groningen. </br>•</br> <i>There is nothing above Groningen.</i>
		</div>
		<div class='flex flex-col py-4 mt-8 text-center'>
				<iframe src="https://www.youtube-nocookie.com/embed/yGp9IX2M8jI?origin=https://groningen.nl&amp;rel=0&amp;autoplay=0&amp;mute=1&amp;loop=1&amp;color=white&amp;controls=0&amp;modestbranding=1&amp;playsinline=1&amp;enablejsapi=1" 
				class="m-bg-video__iframe aspect-video height-auto w-10/12 mx-auto" title="Groningen, international city" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" aria-hidden="true" tabindex="-1" 
				data-gtm-yt-inspected-7="true">
				</iframe>
			</div>

			<p class='mt-8'>
				As a lively university city, Groningen has the youngest average population in the
				Netherlands.</br> It has been named the best biking city in the Netherlands. In addition, it was
				once proclaimed the city with the best city centre in the Netherlands because of its charm.
				</br></br>
				Want to learn more? Check out the information below!
			</p>
		</div>
	</div>
	<div class='flex flex-col py-4 px-4 mt-8'>
		<div class='w-12/12 flex flex-wrap mt-8'>
			<div class='w-12/12 flex flex-wrap mx-4 py-4 transition hover:shadow-md hover:shadow-blue-800/50 bg-gray-100'>
				<a href='https://groningen.nl/internationals/about-groningen/city-and-province'>
					<table>
						<tr>
							<td class='w-6/12'>
								<img class="mx-auto"  src="/academie.jpg" alt=""></td><td>
							</td>
							<td class='w-6/12 pl-4 pr-8'>
								<p class='text-blue-900 font-bold text-xl'>City & Province<p></br>
								</p>
								<p>Groningen is nicknamed the Capital of the North. </br>Discover the beautiful nature and remarkable historical landmarks around the city during your stay![VL to get Grote Markt in the sun, or maybe Vismarkt on market day]</p>
							</td>
						</tr>
					</table>
				</a>
			</div>
			<div class='w-12/12 flex flex-wrap mx-4 my-4 py-4 transition hover:shadow-md hover:shadow-blue-800/50 bg-gray-100 text-right'>
				<a href=''> 
					<table>
						<tr>
							
							<td class='w-6/12 pr-4 pr-8'>
								<p class='text-blue-900 font-bold text-xl'>Food & Drink<p></br>
								</p>
								<p>Discover the world-famous stroopwafel on market day, or try out local Groningen delicacies like eierballen. [Valentine will take picture of the café next to the Martinitoren]</p>
							</td>
							<td class='w-6/12'>
								<img class="mx-auto"  src="/academie.jpg" alt=""></td><td>
							</td>
						</tr>
					</table>
				</a>
			</div>	
			<div class='w-12/12 flex flex-wrap mx-4 my-4 transition hover:shadow-md hover:shadow-blue-800/50 bg-gray-100'>
				<a href='https://groningen.nl/internationals/culture-events'>
					<table>
						<tr>
							<td class='w-6/12'>
								<img class="mx-auto"  src="/academie.jpg" alt=""></td><td>
							</td>
							<td class='w-6/12 pl-4 pr-8'>
								<p class='text-blue-900 font-bold text-xl'>Culture & Events<p></br>
								</p>
								<p>From the Groninger Museum to music festivals in the Stadspark, Groningen has something for everyone! [Valentine will take a pic of the Groninger Museum in the sun]</p>
							</td>
						</tr>
					</table>
				</a>
			</div>

		</div>
	</div>
</div>



</div>
</main>
<Footer />
</body>
</html>
