---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <!-- <Header /> -->
    <main>
	  <div class="relative">
		<img class="relative brightness-95" src="/groningen.jpg" />
		<div class="container absolute left-0 right-0 top-20 text-center text-white drop-shadow-3xl">
			<div class="text-4xl leading-relaxed font-medium">16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research</div>
			<div class="text-3xl mt-4">Groningen, the Netherlands</div>
			<div class="text-3xl mt-4">June 24th - 27th, 2025</div>
		</div>
	  </div>

      <div class="container px-4 py-4">
		<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Save the date!</h2>

        <table class="my-8 mx-auto [&_th]:text-right [&_tr>*]:py-2">
          <tbody>
            <tr>
              <th class="w-5/12">Location</th>
			  <td class="w-1/12 text-center">•</td>
              <td class="w-5/12">Groningen, the Netherlands</td>
            </tr>
            <tr>
              <th class="w-5/12">Abstract submission opens</th>
			  <td class="w-1/12 text-center">•</td>
              <td class="w-5/12">November 18th, 2024</td>
            </tr>
            <tr>
              <th class="w-5/12">Abstract submission deadline</th>
			  <td class="w-1/12 text-center">•</td>
              <td class="w-5/12">January 31st, 2025</td>
            </tr>
            <tr>
              <th class="w-5/12">Authors notified by</th>
			  <td class="w-1/12 text-center">•</td>
              <td class="w-5/12">March 3rd, 2025</td>
            </tr>
            <tr>
              <th class="w-5/12">Conference date</th>
			  <td class="w-1/12 text-center">•</td>
              <td class="w-5/12">June 24th - 27th, 2025</td>
            </tr>
          </tbody>
        </table>

		<p class="text-center my-8">More information is coming soon</p>
      </div>
    </main>
    <Footer />
  </body>
</html>
