---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <Header />
    <main>
      <div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="absolute top-0 left-0 bottom-0 right-0 bg-black opacity-20 md:opacity-0"></div>
        <!-- <img class="relative brightness-95" src="/groningen.jpg" /> -->
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        <p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Prepare your registration</a></p>

      </div>
      <!-- </div> -->

      <div class="container px-4 py-4">
        <h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Save the date!</h2>

        <table class="my-8 mx-auto [&_th]:text-right [&_tr>*]:py-2">
          <tbody>
            <tr>
              <th class="w-5/12">Location</th>
              <td class="w-1/12 text-center">•</td>
              <td class="w-5/12">Groningen, the Netherlands</td>
            </tr>
            <tr>
              <th class="w-5/12">Venue</th>
              <td class="w-1/12 text-center">•</td>
              <td class="w-5/12"><a href="https://www.rug.nl/society-business/house-of-connections/" target="_blank" class="text-blue-600 underline">House of Connections</a></td>
            </tr>
            <tr>
              <th class="w-5/12 line-through">Abstract submission opens</th>
              <td class="w-1/12 text-center line-through">•</td>
              <td class="w-5/12 line-through">November 18th, 2024</td>
            </tr>
            <tr>
              <th class="w-5/12 line-through">Abstract submission deadline</th>
              <td class="w-1/12 text-center line-through">•</td>
              <td class="w-5/12 line-through">February 5th, 2025</td>
            </tr>
            <tr>
              <th class="w-5/12 line-through">Authors notified by</th>
              <td class="w-1/12 text-center line-through">•</td>
              <td class="w-5/12 line-through">March 3rd, 2025</td>
            </tr>
            <tr>
              <th class="w-5/12">Conference date</th>
              <td class="w-1/12 text-center">•</td>
              <td class="w-5/12">June 24th - 27th, 2025</td>
            </tr>
          </tbody>
        </table>

   </div>

      <div class="bg-gray-100">
        <div class="container px-4 py-4">
                <h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Main Topics</h2>
          <div class='container top-50 px-8 py-4 text-center' >
        		We particularly encourage submissions from research on quantitative approaches to improving understanding of voice and speech disorders. 
        		<br/>We welcome the following topics as they relate to quantitative approaches to laryngology, voice and speech research: 
        	       <div class="container px-4 py-4">
        	  		<img class="mx-auto my-8" src="/topics-wordcloud.png" />
        	</div>
        </div>
      </div>
</div>

<div class="bg-white">
  <div class="container px-4 py-4">
    <h2 class="text-blue-900 font-bold text-3xl text-center mt-12">Previous events</h2>
    <img class="mx-auto my-8" src="/previous-events.png" />
    <p class="text-center mt-12 mb-8"><a href="/about-aql" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">
        Learn more about AQL</a></p>
  </div>        
</div>
    </main>
    <Footer />
  </body>
</html>
