
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <HeadBase title={FULL_TITLE} />
  </head> 
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        <p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Prepare your registration</a></p>
        </div>

<div class="container px-4 py-4 text-center">

	<div class='flex flex-col px-4 py-4 mt-8 text-center'>
		<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Information for presenters</h2>
	<div class='flex flex-col py-4 mt-8 text-center'>
		<h3 class="text-blue-900 font-bold text-xl text-center mt-8">Podium Presentations (12 + 3 minutes for questions)</h2>
		<p>
			Presentations must be uploaded to the presentation folder that was sent to you with your acceptance notification before the first day of the conference. </br>
			Please test the presentation and any relevant audio/video embeddings in advance, before you upload it to the folder. </br>
			To ensure consistency in formatting and effective audio-visual presentations, it will not be possible to use your personal computer for presenting. </br>
			Please also bring a backup of your presentation on a USB drive.</br>
		</p>

<h3 class="text-blue-900 font-bold text-xl text-center mt-8">Posters (A0, landscape)</h2>

<p>
<b>Format:</b> The poster size should be A0 landscape format (height 841mm and width 1189mm, 33.1 inches x 46.8 inches).</br></br>
<p><b>Poster printing service:</b></br>
The conference will offer an optional poster printing service that you can select during registration. 
We offer to have your poster printed in Groningen, so you do not have to carry it with you during travel. 
The posters will be available to pick-up at the registration desk. 
</br></br>
The cost for this printing service is €24. </br>
This fee will be an optional charge during registration for non-trainees. 
For trainees, these costs will be covered by the conference after filling in the option in the registration form for trainees. 
</br></br>
How to use the service:</br>
After registration, send a PDF copy of your poster in A0 landscape format (height 841mm and width 1189mm, 33.1 inches x 46.8 inches)</br>
to <span class='text-blue-600'><a href="mailto:info@copycentergroningen.nl">info@copycentergroningen.nl</a></span> and <span class='text-blue-600'><a href="mailto:conferenceaq@gmail.com">conferenceaql@gmail.com</a></span> </br>
with the subject line "AQL 2025 - [your full name]".</br>
Posters must be sent by June 16th, 2025.
</p>


</div>
</div>
</main>
<Footer />
</body>
</html>
