
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <HeadBase title={FULL_TITLE} />
  </head> 
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        <p class="text-center mt-12 mb-8"><a href="/submission" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Submit your abstract</a></p>
</div>

<div class="container px-4 py-4">
	<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Keynote Speakers</h2>


	<div class='flex flex-wrap px-4 py-4 mt-8'>
		<div class='hover:bg-blue-800 hover:text-white flex-1 py-4 px-4 mt-8 transition shadow-md hover:shadow-xl shadow-blue-800/50'>
			<img class="w-6/12 mx-auto"  style='border-radius:50%; overflow:hidden'src="/photo_SonjaKotz.png" alt="">
			<p class='text-center mx-auto my-8 px-4'>
				<b>Sonja Kotz</b></br>
				<i>Basic & Applied NeuroDynamics Laboratory</br>
				Maastricht University, Netherlands</i>
				</p>
				
			<p class='text-white text-center mx-auto my-8 px-4'>
			Sonja Kotz is a translational cognitive neuroscientist, investigating temporal, rhythmic, and
			formal predictions in audition, music, and speech across the lifespan, pathologies (PD,
			stroke, tinnitus, psychosis, dyslexia), and animal models. In her research she utilizes a
			wide range of behavioral and neuroimaging methods (M/EEG, s/f/rsMRI, TMS). She heads
			the Neuropsychology section at Maastricht University (NL) and holds honorary
			professorships at the University of Leipzig (DE), and University of Lisbon (PT). She is a
			senior/associate editor for Imaging Neuroscience, Cortex, Neurobiology of Language, and
			PlosOne. Find out more about her <a href='www.band-lab.com'>Basic and Applied NeuroDynamics lab</a>. 
			</p>
		</div>
		<div class='hover:bg-blue-800 hover:text-white flex-1 px-4 py-4 mt-8 transition shadow-md hover:shadow-xl shadow-blue-800/50'>
			<img class="w-6/12 mx-auto"  style='border-radius:50%; overflow:hidden' src="/photo_SrikantanNagarajan.png" alt="">
			<p class='text-center mx-auto my-8'>
			<b>Srikantan Nagarajan</b></br>
			<i>Department of Radiology and Biomedical Imaging</br>
			University of California, San Francisco</i>
			</p>
			<p class='text-white text-center mx-auto px-4'>
			Srikantan Nagarajan, PhD, is a tenured Professor in the Department of Radiology and Biomedical Imaging 
			at the University of California, San Francisco. His research interests include determining neural mechanisms of 
			speech motor control and understanding human brain plasticity associated with learning and disease. 
			He has been involved in the development and refinement of machine learning algorithms and computational models for 
			multimodal structural and functional brain imaging, to help with diagnosis, monitoring and prognosis in various brain 
			disorders. Dr. Nagarajan's current translational research program includes brain imaging studies in Dementias, 
			Voice and Hearing Disorders, Neurodevelopmental Disorders, Brain Tumors, Epilepsy and Schizophrenia. 
			He is a fellow of the IEEE and the AIMBE.
			</p>
		</div>
		<div class='hover:bg-blue-800 hover:text-white flex-1 px-4 py-4 mt-8 transition shadow-md hover:shadow-xl shadow-blue-800/50'>
			<img class="w-6/12 mx-auto"  style='border-radius:50%; overflow:hidden'src="/photo_KailaLStipancic.png" alt="">
			<p class='text-center mx-auto my-8'>
			<b>Kaila Stipancic</b></br>
			<i>Buffalo Oromotor, Speech, & Swallowing Lab</br>
			University at Buffalo, USA</i>
			</p>
			<p class='text-white text-center mx-auto px-4'>
			Dr. Kaila Stipancic is an assistant professor and director of the Buffalo Oromotor, Speech, &
			Swallowing Lab in the Department of Communicative Disorders and Sciences at the University
			at Buffalo. She completed her PhD in Rehabilitation Sciences at the MGH Institute of Health
			Professions. Dr. Stipancic is also a licensed Speech-Language Pathologist who completed her
			clinical master’s degree at the University at Buffalo and her clinical fellowship at the University
			of Wisconsin-Madison with a specialization in dysphagia prior to pursuing her PhD. This clinical
			training greatly influenced Dr. Stipancic’s research directions. Dr. Stipancic’s research seeks to
			advance the assessment of oromotor impairments and dysarthria for individuals with a variety of
			neurological etiologies using perceptual, acoustic, kinematic, and neurophysiologic
			methodologies. She is particularly interested in understanding and improving relevant outcome
			measures that are used clinically and in research settings, with the ultimate goal being to
			optimize the care of patients with oromotor impairments.	
			</p>
			</tr>
	         </tbody>
		</table>
	</div>
</div>


    </main>
    <Footer />
  </body>
</html>
