
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <HeadBase title={FULL_TITLE} />
  </head> 
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
<div class='justify-center flex flex-wrap px-4 py-4 mt-8 ' >
<p class="text-center mt-24 mb-8 mx-4"><a href='/AQL2025_Program.pdf' class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium" 
download="AQL2025_Program.pdf">
Download full AQL program</a></p>
<p class="text-center mt-24 mb-8 mx-4"><a href='/AQL2025_BookOfAbstracts.pdf' class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium" 
download="AQL2025_BookOfAbstracts.pdf">
Download the book of abstracts</a></p>
</div>
</div>

<div class='flex flex-col py-4 px-4 mt-8 mb-8'>
	<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Non-Trainee Accommodation</h2>
	
		<div class='flex flex-col py-4 px-12 mt-8 mb-8'>
		<table class='px-4 py-4'>
		<tr class='py-4'>
			<td class="w-2/12 text-bold"></td>
			<td><img class="w-5/12 mx-auto"  src="/happytraveller.jpg" alt=""></td>
			<td><img class="w-5/12 mx-auto"  src="/halbert.jpg" alt=""></td>
		</tr>
		<tr class='mt-8 mb-8'>
			<td class="w-2/12 font-bold"></td>
			<td class="w-5/12 text-center"><b>The Happy Traveller</b></td>
			<td class="w-5/12 text-center"><b>Hotel Halbert</b></td> 
		</tr>
		
		<tr>
			<td class="w-2/12 font-bold text-right">Single room</td>
			<td class="w-5/12 text-center">€70-82 /night</td>
			<td class="w-5/12 text-center">No single rooms available</td>
		</tr>
		<tr>
			<td class="w-2/12 font-bold text-right">Double room</td>
			<td class="w-5/12 text-center">€92 /night</td>
			<td class="w-5/12 text-center">€120-133 /night</td>
		</tr>
		<tr>
			<td class="w-2/12 font-bold text-right">Distance from conference venue</td>
			<td class="w-5/12 text-center">100 m (1-minute walk)</td>
			<td class="w-5/12 text-center">240 m (3-minute walk)</td>
		</tr>
		<tr>
			<td class="w-2/12 font-bold text-right">Website</td>
			<td class="w-5/12 text-center"><a href='https://thehappytraveler.nl/'><u>https://thehappytraveler.nl/</u></a></td>
			<td class="w-5/12 text-center"><a href='https://www.hotelhalbert.nl/hotel'><u>https://www.hotelhalbert.nl/hotel</u></a></td>
		</tr>
		<tr>
			<td class="w-2/12 font-bold text-right">Contact address</td>
			<td class="w-5/12 text-center">rick@thehappytraveler.nl</td>
			<td class="w-5/12 text-center">info@gardehotels.nl</td>
		</tr>
	</table>
		</div>

	<div class='flex flex-col py-4 mt-8 mb-8 text-center'>

	<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">How to book</h2>
	<p class='flex flex-col py-4 mt-8 mb-8 text-center'>
		Send an email to the contact address for your chosen hotel, and mention the AQL conference. The email must contain the following information:</br></br>
		<ul>
		<li>First and last name for all guests</li>
		<li>Email adress</li>
		<li>Phone number</li>
		<li>Check-in date</li>
		<li>Check-out date</li>
		</ul>
	</p>
</div>
	</div>
 
</main>
<Footer />
</body>
</html>
