
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <Header />
    <main>

<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        <p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Prepare your registration</a></p>
</div>


<div class="container px-4 py-4">
	<div class='flex flex-col py-4 mt-8 text-center justify-center'>

		<h2 class="text-blue-900 font-bold text-3xl text-center">Programme</h2>

		<div class='px-4 py-4 mt-8 text-center flex flex-wrap md:flex-row px-8 my-8 py-8 justify-center'>

			<div class="flex flex-col justify-center px-8">
				<h3 class="text-blue-900 font-bold text-center justify-center">Wednesday June 25th</h3>
				<div class="flex flex-col py-8 px-8">
					<div class='bg-blue-100 text-blue-900 px-16 px-16'>
						<b>Registration</b>
						<br>8:30–9:30
					</div>
					<div class='bg-blue-600 text-blue-900 py-4 px-16'>
						<b>Welcome to AQL</b>
						<br>09:00–09:15
					</div>
					<div class='bg-purple-400 text-white py-16 px-16'>
						<b>Podium Talk Session 1</b>
						<br>09:15 – 10:10
					</div>
					<div class='bg-blue-600 text-blue-900 py-4 px-16'>
						<b><i>Break</i></b>
						<br>10:10–10:30
					</div>
					<div class='bg-green-600 text-white py-16 px-16'>
						<b>Podium Talk Session 2</b>
						<br>10:30 – 11:25
					</div>
					<div class='bg-pink-600 text-white py-16 px-16'>
						<b>Keynote: Sonja Kotz</b>
						<br>11:25 – 12:25
					</div>
					<div class='bg-pink-600 text-white py-24 px-16'>
						<b><i>Lunch</i></b>
						<br>12:25 – 13:40
					</div>
					<div class='bg-pink-600 text-white py-24 px-16'>
						<b>Podium Talk Session 3</b>
						<br>13:40 – 14:50
					</div>
					<div class='bg-green-300 text-white py-36 px-16'>
						<b>Podium Talk Session 3</b>
						<br>14:50 – 16:30
					</div>
					<div class='bg-green-500 text-white py-12 px-16'>
						<b>Podium Talk Session 4</b>
						<br>16:30 – 17:10
					</div>
					<div class='bg-pink-600 text-white mt-12 py-36 px-16'>
						<b>Reception</b>
						<br>17:30 – 19:30
					</div>
				</div>
			</div>
			<div class="flex flex-col justify-center px-8">
				<h3 class="text-blue-900 font-bold text-center justify-center">Thursday June 26th</h3>
				<div class="flex flex-col py-8 px-8">
					<div class='bg-blue-600 text-white px-16 py-8'>
						<b>Registration</b>
						<br>8:30–9:30
					</div>
					<div class='bg-blue-600 text-blue-900 px-16 py-8'>
						<b>Welcome to AQL</b>
						<br>09:00–09:15
					</div>
					<div class='bg-red-600 text-blue-900 px-16 py-8'>
						<b>Welcome to AQL</b>
						<br>09:00–09:15
					</div>
					<div class='bg-pink-600 text-white px-16 py-8'>
						<b>Podium Talk Session 1</b>
						<br>09:15 – 10:10
					</div>
				</div>
			</div>
			<div class="flex flex-col justify-center px-8">
				<h3 class="text-blue-900 font-bold text-center justify-center">Friday June 27th</h3>
				<div class="flex flex-col py-8 px-8">
					<div class='bg-blue-600 text-white px-16 py-8'>
						<b>Registration</b>
						<br>8:30–9:30
					</div>
					<div class='bg-blue-600 text-blue-900 px-16 py-8'>
						<b>Welcome to AQL</b>
						<br>09:00–09:15
					</div>
					<div class='bg-red-600 text-blue-900 px-16 py-8'>
						<b>Welcome to AQL</b>
						<br>09:00–09:15
					</div>
					<div class='bg-pink-600 text-white px-16 py-8'>
						<b>Podium Talk Session 1</b>
						<br>09:15 – 10:10
					</div>
				</div>
			</div>



		</div>
	</div>
</div>
</main>
    <Footer />
  </body>
</html>
