
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <Header />
    <main>

<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
<div class='justify-center flex flex-wrap px-4 py-4 mt-8 ' >
<p class="text-center mt-24 mb-8 mx-4"><a href='/AQL2025_Program.pdf' class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium" 
download="AQL2025_Program.pdf">
Download full AQL program</a></p>
<p class="text-center mt-24 mb-8 mx-4"><a href='/AQL2025_BookOfAbstracts.pdf' class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium" 
download="AQL2025_BookOfAbstracts.pdf">
Download the book of abstracts</a></p>
</div>

</div>


<div class="container px-4 py-4">
	<div class='flex flex-col py-4 mt-8 text-center justify-center'>

		<h2 class="text-blue-900 font-bold text-3xl text-center">Main Programme</h2>
		<h4 class="text-blue-900 font-bold text-md text-center mt-8 italic underline"><a href='/workshop'>Workshop programme here!</a></h2>
      
<p class="text-center mt-24 mb-8"><a href='/AQL2025_PresentingSchedule.pdf' class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium" download="/AQL2025_PresentingSchedule.pdf">
Download presentation schedule</a></p>

		<div class='py-4 mt-8 text-center flex flex-wrap sm:flex-row justify-center'>

			<div class="flex flex-col px-8">
				<img src='/AQL_schedule.png'	/>
			</div>

		</div>
	</div>
</div>
</main>
    <Footer />
  </body>
</html>
