
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <Header />
    <main>

<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        <p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Prepare your registration</a></p>
</div>


<div class="container px-4 py-4">
	<div class='flex flex-col py-4 mt-8 text-center justify-center'>
		<h2 class="text-blue-900 font-bold text-3xl text-center">Programme</h2>
		<div class='px-4 py-4 mt-8 text-center flex flex-wrap md:flex-row px-8 my-8 py-8 justify-center'>
			<div class="flex flex-col justify-center">
				<h3 class="text-blue-900 font-bold text-center justify-center">Wednesday June 25th</h3>
			<div class="flex flex-col py-8">
				<table>
					<tr>
						<td class='w-4/12 my-8 mr-8 justify-end'>
							08:30 – 09:00		
						</td>
						<td class='w-8/12 bg-blue-600 text-white px-16 py-8 my-8'>
							<b>Registration</b><br>8:30–9:30
						</td>
						
					</tr>
					<tr>
						<td class='w-4/12 my-8 mr-8'>
								8:30 – 9-30		
						</td>
						<td class='w-8/12 bg-blue-100 text-blue-900 px-16 py-8 my-8'>
							<b>Welcome to AQL</b>
							<br>09:00–09:15
						</td>
					</tr>
					<tr>
						<td class='w-4/12 my-8 mr-8 justify-end'>
							08:30 – 09:00		
						</td>
						<td class='w-8/12 bg-blue-100 text-blue-900 px-16 py-8 my-8'>
							<b>Welcome to AQL</b>
							<br>09:00–09:15
						</td>
					</tr>
					<tr>
						<td class='w-4/12 my-8 mr-8'>
								08:30 – 9-30		
						</td>
						<td class='w-8/12 bg-pink-600 text-white px-16 py-8 my-8'>
							<b>Podium Talk Session 1</b><br>09:15 – 10:10
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="flex flex-col justify-center">
			<div class="flex flex-col py-8">
				<table>
					<tr>
						<td class='w-4/12 my-8 mr-8 justify-end'>
						</td>
						<td>
							<h3 class="text-blue-900 font-bold text-center justify-center mb-8">Thursday June 26th</h3>
						</td>
					</tr>
					<tr>
						<td class='w-4/12 my-8 mr-8 justify-end'>
						</td>
						<td class='w-8/12 bg-orange-600 text-white px-16 py-8 my-8'>
							<b>Podium Talk Session 6</b><br>8:30–9:30
						</td>
						
					</tr>
					<tr>
						<td class='w-4/12 my-8 mr-8'>
						</td>
						<td class='w-8/12 bg-blue-100 text-blue-900 px-16 py-8 my-8'>
							<b>Welcome to AQL</b>
							<br>09:00–09:15
						</td>
					</tr>
					<tr>
						<td class='w-4/12 my-8 mr-8 justify-end'>
						</td>
						<td class='w-8/12 bg-blue-100 text-blue-900 px-16 py-8 my-8'>
							<b>Welcome to AQL</b>
							<br>09:00–09:15
						</td>
					</tr>
					<tr>
						<td class='w-4/12 my-8 mr-8'>
						</td>
						<td class='w-8/12 bg-pink-600 text-white px-16 py-8 my-8'>
							<b>Podium Talk Session 1</b><br>09:15 – 10:10
						</td>
					</tr>
				</table>
			</div>
		</div>
<div class="flex flex-col justify-center">
			<div class="flex flex-col py-8">
				<table>
					<tr>
						<td class='w-4/12 my-8 mr-8 justify-end'>
						</td>
						<td>
							<h3 class="text-blue-900 font-bold text-center justify-center mb-8">Friday June 27th</h3>
						</td>
					</tr>
					<tr>
						<td class='w-4/12 my-8 mr-8 justify-end'>
						</td>
						<td class='w-8/12 bg-green-600 text-white px-16 py-8 my-8'>
							<b>Poster Session 3</b><br>8:30–9:30
						</td>
						
					</tr>
					<tr>
						<td class='w-4/12 my-8 mr-8'>
						</td>
						<td class='w-8/12 bg-blue-100 text-blue-900 px-16 py-8 my-8'>
							<b>Welcome to AQL</b>
							<br>09:00–09:15
						</td>
					</tr>
					<tr>
						<td class='w-4/12 my-8 mr-8 justify-end'>
						</td>
						<td class='w-8/12 bg-blue-100 text-blue-900 px-16 py-8 my-8'>
							<b>Welcome to AQL</b>
							<br>09:00–09:15
						</td>
					</tr>
					<tr>
						<td class='w-4/12 my-8 mr-8'>
						</td>
						<td class='w-8/12 bg-pink-600 text-white px-16 py-8 my-8'>
							<b>Podium Talk Session 1</b><br>09:15 – 10:10
						</td>
					</tr>
				</table>
			</div>
		</div>
		</div>

	</div>
</div>
</main>
    <Footer />
  </body>
</html>
