
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <Header />
    <main>

<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        <p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Prepare your registration</a></p>
</div>


<div class="container px-4 py-4">
	<div class='flex flex-col py-4 mt-8 text-center justify-center'>
		<h2 class="text-blue-900 font-bold text-3xl text-center">Programme</h2>
		<div class='px-4 py-4 mt-8 text-center flex flex-wrap md:flex-row px-8 my-8 py-8'>
			<div class="mx-auto flex flex-col justify-center">
				<h3 class="text-blue-900 font-bold text-center justify-center">Wednesday June 25th</h3>
			<div class="mx-auto flex flex-col px-16 py-24">

				<table>
					<tr class='py-4 mt-4'>
						<td class='w-2/12 py-8 my-8'>
							08:30 – 09:00		
						</td>
						<td class='w-10/12 bg-blue-100 text-blue-900 px-16 py-8 my-8'>
							<b>Welcome to AQL</b>
							<br>09:00–09:15
						</td>
					</tr>
					<tr class='py-4 mt-4'>
						<td>
							<p class='py-8 my-8'>
								8:30 – 9-30		
							</p>
						</td>
						<td class='bg-blue-600 text-white px-16 py-8 my-8'>
							<b>Registration</b><br>8:30–9:30
						</td>
					</tr>
				</table>
			</div>
			<div class="mx-auto flex flex-row px-16 py-24">
				<h2 class="text-blue-900 font-bold text-center mt-8 mx-8">Wednesday June 25th</h2>
				<p class='mt-8 mx-8'>
					8:30 – 9-30		</p>
			</div>
		</div>
			<div class="mx-auto flex flex-col sm:flex-row px-8 py-8">
				<h2 class="text-blue-900 font-bold text-center mt-8 mx-8">From Schiphol Airport Amsterdam</h2>
				<p class='mt-8 mx-8'>
					
				</p>
			</div>
			<div class="mx-auto flex flex-col sm:flex-row px-8 py-8">
				<h2 class="text-blue-900 font-bold text-center mt-8 mx-8">From Eindhoven Airport</h2>
				<p class='mt-8 mx-8'>
					Flying to Eindhoven Airport can also be convenient. More information about the destinations can be found on the following website: 
				    <a href='https://www.eindhovenairport.nl/en/destinations' class='text-blue-600 underline'>Destinations & inspiration | Eindhoven Airport</a>.
				    Travelling from Eindhoven Airport to Groningen by public transport takes approximately three and a half hours. 
				    Please plan your journey at: <a href='https://www.ns.nl/en' class='text-blue-600 underline'>Home | NS</a>.
				</p>
			</div>
			<div class="mx-auto flex flex-col sm:flex-row px-8 py-8">
				<h2 class="text-blue-900 font-bold text-center mt-8 mx-8">Arriving by car</h2>
				<p class='mt-8 mx-8'>
					If you're arriving by car, you can enter <a href='https://maps.app.goo.gl/1CLDKf6s1b6mCtCB8' class='text-blue-600 underline'>Parkeergarage Forum Groningen</a> 
				    into your navigation system. From this parking garage it takes only 5 minutes to walk to the <a href='https://maps.app.goo.gl/vjgDRfJx4U8Hw5jN9' class='text-blue-600 underline'>conference venue</a>. 
				    Pay for your parking ticket (€ 1.00 per 16 minutes, €24.00 per day) at one of the parking machines using a bank or credit card.
				</p>
			</div>
		</div>
	</div>
</div>
</main>
    <Footer />
  </body>
</html>
