
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <HeadBase title={FULL_TITLE} />
  </head> 
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        </div>

<div class="container px-4 py-4 text-center">

	<div class='flex flex-col py-4 mt-8 mb-8 text-center'>
<div class='flex flex-col py-4 mt-8 text-center bg-blue-900 text-white'>
				<p><b>Are you a presenting trainee?</b></br></br>
					If you are presenting at the conference, registration fees will be fully covered by AQL (main conference plus workshop).</br>
					Accommodation fees will be covered for 4 nights (check-in in June 23rd , check out June 27th).</br>
					Please refer to your acceptance email for information on the registration and accommodation procedures.</br>
					As a presenting trainee, the only cost incurring to you is the (optional) conference dinner. If you wish to attend, please refer to the Conference Dinner section on this page.
				</p>
</div>

		<div class='flex flex-col py-4 mt-8 text-center'>
				<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Registration</h2>
				<table class='text-xl'>
					<tr class='font-bold py-4 px-4 mt-8'>
						<td  class='w-4/12'><b></b></td>
						<td  class='w-4/12'>Trainee (Bachelor, Master, PhD, post-doc)</b></td>
						<td  class='w-4/12'><b></b>Non-Trainee</td>
					</tr>
				<tr>
					<td  class='w-4/12 text-right font-bold'>Early Bird (before April 30th)</td> 
					<td  class='w-4/12'>Conference, including workshop: €150</td>
					<td  class='w-4/12'>Main conference: €230 | Workshop <i>(optional)</i>: + €20</td>
				</tr>
				
				<tr>
					<td  class='w-4/12 text-right font-bold'>Regular (from April 30th to May 30th)</td> 
					<td  class='w-4/12'><b>Conference:</b> €280</td>
					<td  class='w-4/12'><b>Workshop <i>(optional)</i>:</b> + €20</td>
				</tr>
			</table>
		
				<p>
				<b>Poster printing service:</b> €24/poster</br>
				We offer the possibility to have your poster printed in Groningen, ready for you to pick up when you arrive. The conference will cover this cost (€24/poster).</br>
				If you would like to make use of this printing service, please let us know in the registration form. 
				</p>
			<p class="text-center mt-12 mb-8"><a class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Registration will open March 17th!</a></p>

		<p>
		<b><i>Please only fill in this form once!</b></br>
		If you would like to edit your registration, please get in touch at conferenceaql@gmail.com</i>
	</p>

</div>
	<div class='flex flex-col py-4 mt-8 text-center'>
		<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Conference Dinner on Thursday, June 26th</h2>

	<div class='flex flex-col py-4 mt-8 text-center'>
	<p>
		<b>Conference dinner: + €70 — Book until April 30th</b></br>
		The conference dinner will take place on the evening of Thursday, June 26th. The dinner fee is the only cost presenting trainees have to cover themselves.</br>
		To book a spot for the dinner, please use the link below. 
	</p>
	
		<p class="text-center mt-12 mb-8"><a class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Book a dinner spot - Opens March 17th!</a></p>
		
	</div>
</div>
</div>
		<div class='flex flex-col py-4 mt-8 text-center'>
			<h2 class="text-blue-900 font-bold text-3xl text-center">Accommodation</h2>
	
			<p class='flex flex-col py-4 mt-8 text-center'> 
				When considering accommodation and travel, please note that the first day of the conference
				(June 24th) is the workshop day and the last day of the conference (June 27th) will be a half-day.</p>
				<p class='text-bold'>The following room options and costs are reserved for the conference until April 1st so please
				book as soon as possible.
			</p>
	
				<div class='w-12/12 flex flex-wrap px-4 py-4 mt-8'>
					<div class='w-4/12 flex-1 px-4 py-4 mx-8 mt-8 transition shadow-md shadow-blue-800/50'>
						<p class='text-center mx-auto my-8 px-4'>
						<h2 class="text-blue-900 font-bold text-center mt-8">Trainee - Non-Presenting</h2>
						<img class="mx-auto mt-8"  src="/academie.jpg" alt="">
						<p class='mt-8'><i><b>Double room:</b> €132/night</i><p></br>
						Please email conferenceaql@gmail.com </br> to make a booking request.</p>
					</div>
					<div class='w-8/12 flex-1 px-4 py-4 mx-8 mt-8 shadow-md shadow-blue-800/50'>
						<h2 class="text-blue-900 font-bold text-center mt-8 mb-8">Non-Trainee</h2>
						<table>
						<tr>
							<td><img class="w-10/12 mx-auto"  src="/happytraveller.jpg" alt=""></td>
							<td><img class="w-10/12 mx-auto"  src="/halbert.jpg" alt=""></td>
							</tr>
							<tr>
								<td>
									<p class='text-center mx-auto my-8 px-4'>
									<b>The Happy Traveller</b></br>
									<i>Single room: €70-82 /night</br>
									Double room: €92 /night</br>
									</i>
									</p>
								</td>
								<td>
									<p class='text-center mx-auto my-8 px-4'>
									<b>Hotel Halbert</b></br>
									<i>Double room:</br>€120-€133 /night</i>
									</p>
								</td>
							</tr>
							</table>
			<p class="text-center mt-12 mb-8"><a href='/non-trainee-accommodation' class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Book a room</a></p>
						</div>
					</div>
		</div>



</div>
</main>
<Footer />
</body>
</html>
