
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover min-h-[70vh]">
		<div class="absolute top-0 left-0 bottom-0 right-0 bg-black opacity-20 md:opacity-0"></div>
		        <!-- <img class="relative brightness-95" src="/groningen.jpg" /> -->
		        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
		          <div class="text-4xl leading-relaxed font-medium">
		            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
		          </div>
		          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
		          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
<p class="text-center mt-12 mb-8"><a href="/submission" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Submit your abstract</a></p>

		        </div>
 </div>
   </div>        
   

<div class="container px-4 py-4">
        <h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Main Topics</h2>

   <div>
     <div>
        We particularly encourage submissions from research on <b>quantitative approaches to improving understanding of voice and speech disorders</b>. 
        </br>We welcome the following topics as they relate to quantitative approaches to laryngology, voice and speech research: 
      </div>

<div class="bg-gray-100">
        <div class="container px-4 py-4">
          <img class="mx-auto my-8" src="/topics-wordcloud.png" />
        </div>
      </div>
</div>
    </main>
    <Footer />
  </body>
</html>
