
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="absolute top-0 left-0 bottom-0 right-0 bg-black opacity-20 md:opacity-0"></div>
        <!-- <img class="relative brightness-95" src="/groningen.jpg" /> -->
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
      </div>

<div class="container px-4 py-4">
        <h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Organising Committee</h2>

        <table class="my-7 mx-auto [&_th]:text-right [&_tr>*]:py-2">
        	<tbody>
		        <tr>
<td class="w-4/12"><img class='px-4 py-4' src="/photo_Defne.jpg" alt="" />

		              	<td class="w-6/12">
				<b>Defne Abur, PhD <b/> — <i>Head of Organising Committee</i></b></br>
					Dr. Defne Abur directs the Speech Biosignal Processing lab at the University of Groningen. 
					She is an Assistant Professor of Speech & Speech Technology in the Computational Linguistics department 
					and she is affiliated with the Research School for Behavioral and Cognitive Neurosciences. 
					She received a B.S. in Engineering Science from Smith College, with a concentration in Biomathematics, 
					where she performed research in hearing sciences and middle ear acoustics. 
					She completed her doctoral work at Boston University in the Stepp Lab and focused on auditory contributions to speech motor control 
					in voice disorders and Parkinson’s disease. At the University of Groningen, Dr. Abur’s lab examines a variety of biosignals 
					to characterize typical and disrupted auditory function and speech production using an interdisciplinary approach combining 
					engineering, hearing science, and speech science. 
				</td>
			</tr>
			<tr>
				<td class="w-4/12"><img class='px-4 py-4' src="/photo_Frank.jpg" alt="" /></td>
				<td class="w-8/12"><b>Frank Tsiwah, PhD</b></br>
					Dr. Frank Tsiwah is an Assistant Professor of (Neuro-) Computational Linguistics, situated within the 
					Center for Language and Cognition Groningen (CLCG), University of Groningen. Previously, he was a lecturer in 
					Computational Linguistics at the department of Artificial Intelligence, in the Bernoulli Institute for Mathematics, 
					Computer Science and Artificial Intelligence, University of Groningen. His current research focuses on the use of 
					Large Language Models and other machine learning approaches towards investigating speech, language, and human cognition, 
					with particular emphasis on disordered speech and language.
				</td>
			</tr>
			<tr>
				<td class="w-4/12"><img class='px-4 py-4' src="/photo_Thomas.jpg" alt=""/>
		              	<td class="w-8/12"><b>Thomas Tienkamp</b></br>
					Thomas Tienkamp is a PhD candidate at the University of Groningen and  he is affiliated with the Faculty of Arts as well as the 
					Department of Oral and Maxillofacial Surgery at the University Medical Centre Groningen. Thomas’ research aims to 
					characterise speech outcomes following oral cancer treatment. To this end, he employs acoustic, kinematic, perceptual, 
					and patient-reported outcomes. Through this holistic approach, Thomas hopes to inform and improve speech rehabilitation 
					strategies for this population in the future.
				</td>
			</tr>
			
			<tr>
				<td class="w-4/12"><img class='px-4 py-4' src="/photo_Valentine.jpg" alt=""/>
				<td class="w-8/12"><b>Valentine Lucquiault</b></br>
Valentine Lucquiault is a master’s student in the Language and Cognition Research Master at the University of Groningen. She holds a Master’s degree in cognitive engineering, and her research focuses on studying the patterns and dynamics of the speech signal to identify early markers of cognitive decline in the voice.	She is currently preparing PhD applications and hopes to work at the interface between human and non-human research.</tr>
          </tbody>
        </table>
</div>
    </main>
    <Footer />
  </body>
</html>
