---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <Header />
    <main>

<div class="container px-4 py-4">
        <h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Organising Committee</h2>

        <table class="my-8 mx-auto [&_th]:text-right [&_tr>*]:py-2">
        	<tbody>
		        <tr>
				<td class="w-5/12"><img src=".../public/photo_Defne.jpg" alt="" />
		              	<td class="w-5/12"> 
				<b>Defne Abur, PhD <br/> Head of Organising Committee</b></br>
					Dr. Defne Abur directs the Speech Biosignal Processing lab at the University of Groningen. 
					She is an Assistant Professor of Speech & Speech Technology in the Computational Linguistics department 
					and she is affiliated with the Research School for Behavioral and Cognitive Neurosciences. 
					She received a B.S. in Engineering Science from Smith College, with a concentration in Biomathematics, 
					where she performed research in hearing sciences and middle ear acoustics. 
					She completed her doctoral work at Boston University in the Stepp Lab and focused on auditory contributions to speech motor control 
					in voice disorders and Parkinson’s disease. At the University of Groningen, Dr. Abur’s lab examines a variety of biosignals 
					to characterize typical and disrupted auditory function and speech production using an interdisciplinary approach combining 
					engineering, hearing science, and speech science. 
				</td>
			</tr>
			<tr>
				<td class="w-5/12"><img src=".../public/photo_Frank.jpg" alt="" /></td>
				<th class="w-5/12"><b>Frank Tsiwah, PhD</b></th>
				<td class="w-5/12">
					Dr. Frank Tsiwah is an Assistant Professor of (Neuro-) Computational Linguistics, situated within the 
					Center for Language and Cognition Groningen (CLCG), University of Groningen. Previously, he was a lecturer in 
					Computational Linguistics at the department of Artificial Intelligence, in the Bernoulli Institute for Mathematics, 
					Computer Science and Artificial Intelligence, University of Groningen. His current research focuses on the use of 
					Large Language Models and other machine learning approaches towards investigating speech, language, and human cognition, 
					with particular emphasis on disordered speech and language.
				</td>
			</tr>
			<tr>
				<td class="w-5/12"><img src=".../public/photo_Thomas.jpg" alt="" />
				<th class="w-5/12"><b>Thomas Tienkamp</b></th>
		              	<td class="w-5/12"> 
					Thomas Tienkamp is a PhD candidate at the University of Groningen and  he is affiliated with the Faculty of Arts as well as the 
					Department of Oral and Maxillofacial Surgery at the University Medical Centre Groningen. Thomas’ research aims to 
					characterise speech outcomes following oral cancer treatment. To this end, he employs acoustic, kinematic, perceptual, 
					and patient-reported outcomes. Through this holistic approach, Thomas hopes to inform and improve speech rehabilitation 
					strategies for this population in the future.
				</td>
			</tr>
			
			<tr>
				<td class="w-5/12"><img src="../public/photo_Valentine.jpg" alt="" />
				<th class="w-5/12"><b>Valentine Lucquiault</b></th>
				<td class="w-5/12"> bla bla Valentine</td>
			</tr>
          </tbody>
        </table>
</div>
    </main>
    <Footer />
  </body>
</html>
