
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <Header />
    <main>

<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        <p class="text-center mt-12 mb-8"><a href="/submission" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Submit your abstract</a></p>
</div>


<div class="container px-4 py-4 text-center">
	<div class='flex flex-col py-4 mt-8 mb-8 text-center'>
              		<h4 class="text-blue-900 font-bold text-3xl text-center">How to get there</h4>
              	<div class="container px-8 py-4">
				<table class="my-6 mx-auto [&_th]:text-right [&_th]:mt-4">
				<tbody>
					<tr>
						<th class='w-4/12 text-blue-900 font-bold mt-8 mb-4'> 
						Train Schedules
						</th>
						<td class='w-7/12 px-8 py-4'>
							Groningen can easily be reached by train from many places in europe. For the most
							up-to-date train schedules and real-time information, please check the <a href='https://ns.nl/en/' class='blue-600 underline'>NS
							website</a> or use <a href='https:\\ns.nl\en' class='blue-600 underline'>9292.nl</a> for comprehensive journey planning, covering all modes of
							public transportation.
							The main station in Groningen is called 'Groningen, Hoofdstation' in Dutch. Please note that this station will be under renovations over the summer, meaning you should arrive in Groningen Europapark in the south of the city, or to Groningen Noord in the North. Both stations have regular bus connections to the city centre.
						</td>		
					</tr>
					<tr>
						<th class='w-4/12 text-blue-900 font-bold mt-8 mb-4'> 
						From Schiphol Airport Amsterdam
						</th>
						<td class='w-7/12 px-8 py-4'>
							If you arrive in the Netherlands at <a href='https://schiphol.nl/en/' class='blue-600 underline'>Schiphol Amsterdam International Airport</a>, the
							most convenient way to reach Groningen is by train. The underground train station
							is situated inside the airport, within walking distance of the luggage claim areas.
							The Dutch railway system, managed by <a href='https://ns.nl/en/' class='blue-600 underline'>Nederlands Spoorwegen (NS)</a>, is easily
							identifiable by its distinctive yellow and blue colors. Simply follow the yellow
							illuminated signs directing you 'To the trains'.</br>
							Trains to Groningen depart from the airport at :04 and :34 past each hour from
							tracks 1-2, with the :04 train being direct. For the :34 train, you will transfer in
							Zwolle approximately one hour into the journey – a brief transfer where you move
							from one side of the platform to the other to catch the Groningen train. If you miss this train for
							Groningen, another departs in 30 minutes; you can also consult the schedule for a 'Sprinter' train from Zwolle to Groningen.
						</td>
					</tr>
					<tr>
						<th class='w-4/12 text-blue-900 font-bold mt-8 mb-4'> 
							From Groningen Airport Eelde
					    	</th>
						<td class='w-7/12 px-8 py-4'>
							<a href='https://groningenairport.nl/en/' class='blue-600 underline'>Groningen Airport Eelde</a>, with its high-quality facilities and market-oriented
							approach, wishes to be the airport of choice for holidaymakers and business
							travellers alike in the North. Groningen Airport Eelde is the airport in the region and
							for the region. The airport considers the provision of facilities in the region to be its
							task. Financially, infrastructural and socially. In as far as possible. Nothing more
							and nothing less. 
							In the summer months, travelers can expect an increase in flight options from Tui,
							Corendon, and Transavia. These airlines expand their schedules during this time,
							offering more routes and frequencies to various destinations.
						</td>
					</tr>
					<tr>
						<th class='w-4/12 text-blue-900 font-bold mt-8 mb-4'> 
						From Eindhoven Airport
					      	</th>
						<td class='w-7/12 px-8 py-4'>
						    Flying to Eindhoven Airport can also be convenient. More information about the destinations can be found on the following website: 
						    <a href='https://www.eindhovenairport.nl/en/destinations' class='blue-600 underline'>Destinations & inspiration | Eindhoven Airport</a>.
						    Travelling from Eindhoven Airport to Groningen by public transport takes approximately three and a half hours. 
						    Please plan your journey at: <a href='https://www.ns.nl/en' class='blue-600 underline'>Home | NS</a>.
					    </td>
					</tr>
					<tr>
						<th class='w-4/12 text-blue-900 font-bold mt-8 mb-4'> 
					   Arriving by car
					    </th>
						<td class='w-7/12 px-8 py-4'>
						    If you're arriving by car, you can enter <a href='https://maps.app.goo.gl/1CLDKf6s1b6mCtCB8' class='blue-600 underline'>Parkeergarage Forum Groningen</a> 
						    into your navigation system. From this parking garage it takes only 5 minutes to walk to the <a href='https://maps.app.goo.gl/vjgDRfJx4U8Hw5jN9' class='blue-600 underline'>conference venue</a>. 
						    Pay for your parking ticket (€ 1.00 per 16 minutes, €24.00 per day) at one of the parking machines using a bank or credit card.
					    </td>
					</tr>
					</tbody>
				</table>
			</div>
          	</div>

	<div class='flex flex-col py-4 mt-8 mb-8 text-center'>			
		<h4 class="text-blue-900 font-bold text-3xl text-center">Getting around Groningen</h4>
		<p class=' container px-8 py-8 mx-8 mb-8 text-centertext-center'>
			Groningen is a very walkable city, and all conference events will be within walking distances. 
         		However, if you’d like to explore any bike routes during your stay, you can rent a bike in the city centre. 
		</p>
	</div>
</div> 

    </main>
    <Footer />
  </body>
</html>
