
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <Header />
    <main>

	<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
		<div class="absolute top-0 left-0 bottom-0 right-0 bg-black opacity-20 md:opacity-0"></div>
		<!-- <img class="relative brightness-95" src="/groningen.jpg" /> -->
		<div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
		  <div class="text-4xl leading-relaxed font-medium">
		    The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
		  </div>
		  <div class="text-3xl mt-4">Groningen, the Netherlands</div>
		  <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
		</div>
		<p class="text-center mt-12 mb-8"><a href="/submission" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Submit your abstract</a></p>
	</div>



	<div class="container px-4 py-4 text-center">
		<h2 class="text-blue-900 font-bold text-3xl text-center">Er gaat niets boven Groningen.</h2>
		<h3 class="text-blue-900 text-3xl text-center"><i>There is nothing above Groningen.</i></h3>
	</div>


        <div class='container left-20 right-20 top-50 px-4 py-4 text-center' >
        	<p class='text-center'>
		      As a lively university city, Groningen has the youngest average population in the Netherlands. 
		      It has a long and turbulent history, which becomes evident from the historic warehouses, courts and buildings. 
		      Groningen is also a city with nerve, with the most numerous examples of innovative architecture within its boundaries. 
		      In addition, it was once proclaimed the city with the best city centre in the Netherlands because of its charm. 
		      </br></br>Experience all of this and explore Groningen.
		</p>
        	<div class='mx-auto my-8 w-8/12'>
			<iframe height='100%' width='auto'
				src="https://www.youtube.com/embed/u_VDerhPBpc?feature=oembed"> 
      			</iframe> 
		</div>
   	</div>

	<div>
        	<div class="container px-4 py-4 bg-gray-100">
              		<h4 class="text-blue-900 font-bold text-3xl text-center">How to get there</h4>
		</div>
              	<div class="container px-8 py-4 bg-white">
                	<p class='text-center'> 
	                      Groningen can easily be reached by train from many places in Europe. 
	                      For the most up-to-date train schedules and real-time information, please check the <u><a href='https://www.ns.nl/en'>NS website</a></u> 
	                      or use <u><a href='9292.nl'>9292.nl</a></u> for comprehensive journey planning, covering all modes of public transportation.
	                      The main station in Groningen is called 'Groningen, Hoofdstation' in Dutch.
			</p>
			<div class='px-8 py-4'>

				<table class="my-6 mx-auto [&_th]:text-right [&_th]:mt-4">
				<tbody>
					<tr>
						<th class='w-4/12 text-blue-900 font-bold mt-8 mb-4'> 
						From Schiphol Airport Amsterdam
						</th>
						<td class='w-7/12 px-8 py-4'>
						    If you arrive in the Netherlands at <u><a href='https://www.schiphol.nl/en/'>Schiphol</a></u>, Amsterdam International Airport, the most convenient way to reach Groningen is by train. 
						    The underground train station is situated inside the airport, within walking distance of the luggage claim areas. 
						    The Dutch railway system, managed by <u><a href='https://www.ns.nl/en'>Nederlandse Spoorwegen</a></u> (NS), is easily identifiable by its distinctive yellow and blue colors. 
						    Simply follow the yellow illuminated signs directing you 'To the trains.'
						    Trains to Groningen depart from the airport at :04 and :34 past each hour from tracks 1-2, with the :04 train being direct.  
						    For the :34 train, you will transfer in Zwolle approximately one hour into the journey – a brief transfer where you move from one side 
						    of the platform to catch the Groningen train. If you miss this train in Groningen, another departs in 30 minutes, 
						    or consult the schedule for a "Sprinter" train. 
						</td>
					</tr>
					<tr>
						<th class='w-4/12 text-blue-900 font-bold mt-8 mb-4'> 
							From Groningen Airport Eelde
					    	</th>
						<td class='w-7/12 px-8 py-4'>
						    <u><a href='https://www.groningenairport.nl/en'>Groningen Airport Eelde</a></u>, with its high-quality facilities and market-oriented approach, wishes to be the airport of choice for holidaymakers and business travellers alike in the North. 
						    Groningen Airport Eelde is the airport in the region and for the region. The airport considers the provision of facilities in the region 
						    to be its task. Financially, infrastructurally and socially. In as far as possible. Nothing more and nothing less. 
						    In the summer months, travelers can expect an increase in flight options from Tui, Corendon, and Transavia. 
						    These airlines expand their schedules during this time, offering more routes and frequencies to various destinations.
						</td>
					</tr>
					<tr>
						<th class='w-4/12 text-blue-900 font-bold mt-8 mb-4'> 
						From Eindhoven Airport
					      	</th>
						<td class='w-7/12 px-8 py-4'>
						    For participants flying to Eindhoven Airport can also be convenient. More information about the destinations can be found on the following website: 
						    <u><a href='https://www.eindhovenairport.nl/en/destinations'>Destinations & inspiration | Eindhoven Airport</a></u>.
						    Additionally, if you're planning to travel from Eindhoven Airport to Groningen by public transport, it takes approximately three and a half hours. 
						    Please plan your journey at: <u><a href='https://www.ns.nl/en'>Home | NS</a></u>.
					    </td>
					</tr>
					<tr>
						<th class='w-4/12 text-blue-900 font-bold mt-8 mb-4'> 
					   Arriving by car
					    </th>
						<td class='w-7/12 px-8 py-4'>
						    If you're arriving by car, you can enter <a href='https://maps.app.goo.gl/1CLDKf6s1b6mCtCB8'>Parkeergarage Forum Groningen</a> 
						    into your navigation system. From this parking garage it takes only 5 minutes by walking to the <a href='https://maps.app.goo.gl/vjgDRfJx4U8Hw5jN9'>conference venue</a>. 
						    Pay for your parking ticket (€ 1.00 per 16 minutes, €24.00 per day) at one of the parking machines using a PIN or Credit Card.
					    </td>
					</tr>
					</tbody>
				</table>
			</div>
          	</div>
	</div>

    	<!--
<div>
		<div class="container px-4 py-4 bg-gray-100">
			<h4 class="text-blue-900 font-bold text-3xl text-center">Getting to the venue</h4>
		</div>
		<div class="container px-8 py-4 bg-white text-center">
		    <p class='text-center'>
		      The House of Connections is approximately 16 minutes walking distance from the train station. </br>
		      If you prefer to take the bus instead, then check the bus schedules on <u><a href='www.9292.nl'>www.9292.nl</a></u>.
		    </p>
		   <!-- <p class="text-center mt-12 mb-8"><a href="/venue-hoc" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">About the venue</a></p> -->
		</div>
    	</div>
</div> -->
</div>
    </main>
    <Footer />
  </body>
</html>
