
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={FULL_TITLE} />
  </head>
  <body>
    <Header />
    <main>

<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        <p class="text-center mt-12 mb-8"><a href="/submission" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Submit your abstract</a></p>
</div>


<div class="container px-4 py-4">
	<div class='flex flex-col py-4 mt-8 text-center'>
		<h2 class="text-blue-900 font-bold text-3xl text-center">How to get there</h2>
		
		
		
		<div class='px-4 py-4 mt-8 text-center flex flex-wrap xl:flex-wrap px-8 my-8'>
			<div class="mx-auto flex flex-col sm:flex-row px-8"

				<h2 class="text-blue-900 font-bold text-center mt-8 mx-8">Train Schedules</h2>
				<p class='w-8/12'>
					Groningen can easily be reached by train from many places in Europe. For the most
					up-to-date train schedules and real-time information, please check the <a href='https://ns.nl/en/' class='text-blue-600 underline'>NS
					website</a> or use <a href='https:\\9292.nl\en' class='text-blue-600 underline'>9292.nl</a> for comprehensive journey planning, covering all modes of
					public transportation.
					The main station in Groningen is called 'Groningen, Hoofdstation' in Dutch. Please note that this station will be under renovations over the summer, meaning you should arrive in Groningen Europapark in the south of the city, or to Groningen Noord in the North. Both stations have regular bus connections to the city centre.
				
				</p>
			</div>
	<div class="mx-auto flex flex-col sm:flex-row px-8"

				<h2 class="text-blue-900 font-bold text-center mt-8 mx-8">Train Schedules</h2>
				<p class='w-8/12'>
					Groningen can easily be reached by train from many places in Europe. For the most
					up-to-date train schedules and real-time information, please check the <a href='https://ns.nl/en/' class='text-blue-600 underline'>NS
					website</a> or use <a href='https:\\9292.nl\en' class='text-blue-600 underline'>9292.nl</a> for comprehensive journey planning, covering all modes of
					public transportation.
					The main station in Groningen is called 'Groningen, Hoofdstation' in Dutch. Please note that this station will be under renovations over the summer, meaning you should arrive in Groningen Europapark in the south of the city, or to Groningen Noord in the North. Both stations have regular bus connections to the city centre.
				
				</p>
			</div>
			
		</div>
	</div>
</div>
</main>
    <Footer />
  </body>
</html>
