
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <HeadBase title={FULL_TITLE} />
  </head> 
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        <p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Register now!</a></p>
        </div>

<div class="container px-4 py-4 text-center">


	<div class='flex flex-col py-4 mt-8 text-center'>
		<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Trainees</h2>
			<div class='flex flex-col py-4 mt-8 text-center'>
				<table>
					<tr><b>Conference, including workshop:</b> €150</tr>
					<tr><b>Accommodation:</b> €132/night (double room)</tr>
				</table>
			</div>
			<div class='flex flex-col py-4 mt-8 text-center'>
				<p><b>Presenting Trainee:</b></br>
					If you are presenting at the conference, all registration and accommodation fees will be covered by AQL. </br>
					Please refer to your acceptance email for registration and accommodation information.</br>
					As a presenting trainee, the only cost incurring to you is the (optional) conference dinner. If you wish to attend, please refer to the Additional Items section on this page.</br></br>
				</p>

					<p><b>Non-presentng trainee:</b></br>
						At this time, fees for non-presenting trainees cannot be covered by the conference. Please register using the link below.
					</p>
			
			<p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Register as non-presenting trainee</a></p>
		</div>
	</div>

	<div class='flex flex-col py-4 mt-8 text-center'>
		<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Non-Trainees</h2>
		<div class='flex flex-col py-4 mt-8 text-center'>
			<table>
				<tr>
					<td><p class='text-center mx-auto my-8 px-4'><span class='text-2xl'><b>Early Bird  </b></span><span class='text-l'>  (until April 30th)</span></p></td> 
					<td><b>Main conference:</b> €230</td>
					<td><b>Workshop <i>(optional)</i>:</b> + €20</td>
				</tr>
				
				<tr class='text-gray-400'>
					<td><p class='text-gray text-center mx-auto my-8 px-4'><span class='text-2xl'><b>Regular  </b></span><span class='text-l'>  (from April 31st to May 30th)</span></p></td> 
					<td><b>Conference:</b> €280</td>
					<td><b>Workshop <i>(optional)</i>:</b> + €20</td>
				</tr>
			</table>
			<p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Register as non-trainee</a></p>
		</div>

		<div class='flex flex-col py-4 mt-8 text-center'>
		<p> 
			When considering accommodation and travel, please note that the first day of the conference
			(June 24th ) is the workshop day and the last day of the conference (27th) will be a half-day.</p>
			<p class='text-bold'>The following room options and costs are reserved for the conference until April 1st so please
			book as soon as possible.
		</p>
		<div class='flex flex-wrap px-4 py-4 mt-8'>
			<div class='hover:bg-blue-800 hover:text-white flex-1 px-4 py-4 mx-8 mt-8 transition shadow-md hover:shadow-xl shadow-blue-800/50'>
				<img class="w-6/12 mx-auto"  src="/halbert.jpeg" alt="">
				<p class='text-center mx-auto my-8 px-4'>
					<b>The Happy Traveller</b></br>
					<i>Single room: TBC with Thomas</br>
					Double room: </br>
					</i>
				<p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Book here</a></p>
					</p>
			</div>
			<div class='hover:bg-blue-800 hover:text-white flex-1 px-4 py-4 mx-8 mt-8 transition shadow-md hover:shadow-xl shadow-blue-800/50'>
				<img class="w-6/12 mx-auto"  src="/halbert.jpeg" alt="">
				<p class='text-center mx-auto my-8 px-4'>
					<b>Hotel Halbert</b></br>
					<i>Single room: </br>
					Double room: </br>
					</i>
				<p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Book here</a></p>
					</p>
			</div>
		</div>
	</div>
	</div>

	<div class='flex flex-col py-4 mt-8 text-center'>
		<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Additional Conference Items</h2>

	<div class='flex flex-col py-4 mt-8 text-center'>
		<div class='flex flex-col py-4 mt-8'>
		<table>
			<tr>
				<td class='w-4/12 mx-auto text-center'><b>Conference dinner:</b> €70</td>
				<td class='w-8/12 mx-auto'>
					The conference dinner will take place on the evening of Tuesday, June 24th. The dinner fee is the only cost presenting trainees have to cover themselves.
				</td>
			</tr>
			<tr>
				<td class='w-4/12 mx-auto text-center'><b>Poster printing service:</b> €24</td>
				<td class='w-8/12 mx-auto'>
					We offer the possibility to have your poster printed in Groningen, ready for you to pick up when you arrive.
					If you would like to make use of this printing service, please let us know in the registration form. For presenting trainees, this fee will be covered by the conference.
				</td>
			</tr>
		</table>
			</div>
		
	
		<p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Book additional items</a></p>
		<b><i>Please only fill in this form once!</b></br> 
		If you are a presenting trainee, then only use this form to register for additional items. For other attendees, please book addiitional items when registering for the conference.</br>
		If you would like to edit your registration, please get in touch at conferenceaql@gmail.com</i>
	</div>
</div>

</div>
</main>
<Footer />
</body>
</html>
