
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <HeadBase title={FULL_TITLE} />
  </head> 
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        </div>

<div class="container px-4 py-4">

  <div class='flex flex-wrap py-4 px-8 mt-8 mb-8 text-center justify-center'>
              		<h4 class="w-12/12 text-blue-900 font-bold text-3xl text-center">Workshop — Tuesday March 24th</h4>
	<div class='text-2xl flex flex-wrap py-8 px-8 my-8 text-center bg-blue-900 text-white rounded-full items-center'>
  	 	<img src='/bird.png' class='mx-auto w-6/12 pl-8'/>
		<p class='mx-auto w-6/12 p-8'>Vocal learning in songbirds</p>
  	</div>
	<div class='text-2xl flex flex-wrap py-8 px-8 my-8 text-center bg-blue-600 text-white rounded-full items-center'>
	  	<img src='/stats.png' class='mx-auto w-4/12 pl-8 px-8' />
		<p class='mx-auto w-6/12 p-8'>Statistical approaches for laryngology, voice, and speech research</p>
	</div>
	<div class='text-2xl flex flex-wrap py-8 px-8 my-8 text-center bg-blue-400 text-white rounded-full items-center'>
	  	<img src='/3d-printing.png' class='mx-auto w-4/12 pl-8' />
		<p class='mx-auto w-6/12 p-8'>3D-printing of voice and speech prostheses<br/>by <a class='underline' href='https://umcgresearch.org/w/3d-lab'>3D Lab UMCG</a></p>
	</div>
	<div class='text-2xl flex flex-wrap py-8 px-8 my-8 text-center bg-blue-800 text-white rounded-full items-center'>
	  	<img src='/roundtables.png' class='mx-auto w-4/12 pl-8' />
		<p class='mx-auto w-6/12 p-8'>Research Roundtables:<br/>professional development in laryngology, voice, and speech research</p>
	</div>
		
</div>

</div>

</main>
<Footer />
</body>
</html>
