
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <HeadBase title={FULL_TITLE} />
  </head> 
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        <p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Register now!</a></p>
        </div>

<div class="container px-4 py-4">
	<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Registration</h2>


	<div class='flex flex-row flex-wrap px-4 py-4 mt-8'>
		<div class='flex flex-row border-solid border-color-blue-800 border-width-4 hover:bg-blue-800 hover:text-white flex-1 py-4 mt-8'>
			<table><tr><td>
			<p class='text-center mx-auto my-8 px-4'>
				<span class='text-xl'><b>Early Bird</b></span><span class='text-xl'>(Before April 31st)</span>
			</p></td>
			<td>
				<p class='text-center mx-auto my-8 px-4'><b>Trainee</b></br>
				<ul>
					<li>Conference & Workshop: 150</li>
					<li>Dinner: 50</li>
				</ul>
				<p class='text-center mx-auto my-8 px-4'><b>Non-Trainee</b></br>
				<ul>
					<li>Conference: 230</li>
					<li>Workshop: 20</li>
					<li>Dinner: 70</li>
				</ul>
				</p>
</td></tr></table>

		</div>
		<div class='flex flex-row border-solid border-color-blue-800 border-width-4 hover:bg-blue-800 hover:text-white flex-1 py-4 mt-8'>
			<table><tr><td>
			<p class='text-center mx-auto my-8 px-4'>
				<span class='text-xl'><b>Regular</b></span><span class='text-xl'>(From April 31st to June 2d)</span>
			</p></td>
			<td>
				<p class='text-center mx-auto my-8 px-4'><b>Trainee</b></br>
				<ul>
					<li>Conference & Workshop: 150</li>
					<li>Dinner: 50</li>
				</ul>
				<p class='text-center mx-auto my-8 px-4'><b>Non-Trainee</b></br>
				<ul>
					<li>Conference: 2380</li>
					<li>Workshop: 30</li>
					<li>Dinner: 70</li>
				</ul>
				</p>
</td></tr></table>

		</div>
	</div>

	<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Accommodation</h2>
<div class='flex flex-wrap px-4 py-4 mt-8'>
		<div class='border-solid border-color-blue-800 border-width-4 hover:bg-blue-800 hover:text-white flex-1 py-4 mt-8'>
			
			<p class='text-center mx-auto my-8 px-4'>
				TRAINEES -- add google form
				</p>
		</div>
	<div class='border-solid border-color-blue-800 border-width-4 hover:bg-blue-800 hover:text-white flex-1 py-4 mt-8'>
			<p class='text-center mx-auto my-8 px-4'>
				NON-TRAINEES -- add hotels and deadlines
				</p>
		</div>
</div>


    </main>
    <Footer />
  </body>
</html>
