
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <HeadBase title={FULL_TITLE} />
  </head> 
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        <p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Register now!</a></p>
        </div>

<div class="container px-4 py-4 text-center">
	<div class='flex flex-col py-4 mt-8 text-center'>
		<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Trainees</h2>
		<p class="bg-blue-400 shadow-md px-8 py-4 text-white mt-8">
			<b>Are you presenting at the conference?</b> </br>
			Conference and accommodation fees for presenting trainees will be covered by the conference! 
			The only fees applicable are <a href=''>the fees relating to the conference dinner and poster printing service</a>.</br>
			<b>Please refer to your acceptance email for registration and accommodation information!</b>
		</p>

		<div class="flex flex-col py-4 mt-8 transition shadow-md hover:shadow-blue-800/50">
			<b>Conference, including workshop:</b> 150</br>
			<p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Register as a non-presenting trainee</a></p>
		</div>

		<div>Accommodation for non-presenting trainees: </div>
	</div>

	<div class='flex flex-col py-4 mt-8'>
		<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Non-Trainees</h2>
		<table>
			<tr>
							<div class="flex flex-col py-4 mt-8 transition shadow-md hover:shadow-blue-800/50">
<td><p class='text-center mx-auto my-8 px-4'><span class='text-2xl'><b>Early Bird  </b></span><span class='text-l'>  (until April 30th)</span></p></td> 
				<td><b>Conference:</b> 230</td>
				<td><b>Workshop <i>(optional)</i>:</b> +20</td>
</div>
			</tr>
			<tr>   
				<p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Register as non-trainee</a></p>
			</tr>
			<tr class='text-grey-300'>
				<td><p class='text-center mx-auto my-8 px-4'><span class='text-2xl'><b>Regular  </b></span><span class='text-l'>  (from April 31st to May 30th)</span></p></td> 
				<td><b>Conference:</b> 280</td>
				<td><b>Workshop <i>(optional)</i>:</b> +20</td>
			</tr>
		</table>
		<p> 
			When considering accommodation and travel, please note that the first day of the conference
			(June 24th ) is the workshop day and the last day of the conference (27th ) will be a half day.</p>
			<p>The following room options and costs are reserved for the conference until April 1 st so please
			book as soon as possible)
		</p>
		<div class='flex flex-row'>
			<div class="flex flex-col py-4 mt-8 shadow-blue-800/50">
				<p>
					<b>Hotel Halbert</b></br>
					Single rooms: /night</br>Double rooms: /night</br>
					<a href=''><i><u>Learn more</i></u></a>
				</p>
			</div>
			<div class="flex flex-col py-4 mt-8 shadow-blue-800/50">
				<p>
					<b>The Happy Traveller</b></br>
					Single rooms: /night</br>Double rooms: /night</br>
					<a href=''><i><u>Learn more</i></u></a>
				</p>
			</div>
		<div>
	</div>

	<div class='flex flex-col py-4 mt-8'>
		<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Additional Items</h2>
		<p class='text-center mx-auto my-8 px-4'>
			<b>Conference dinner:</b> 70</br>
			<b>Poster printing service:</b> 24</br>
		</p>
	</div>

</div>
</main>
<Footer />
</body>
</html>
