
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <HeadBase title={FULL_TITLE} />
  </head> 
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        </div>

<div class="container px-4 py-4">

  <div class='flex flex-wrap py-4 mt-8 mb-8 text-center'>
  	<div class='text-3xl flex flex-col py-8 px-8 px-8 mr-64 text-center border-solid border-3 border-blue-900 text-blue-900'>
	  	<img src='/desk.png' />
		<p class='font-bold'>Registration</p>
	</div>
	<div class='text-3xl py-8 px-8 ml-64 mt-8 text-center bg-blue-600 text-white rounded-full size-5/12 items-center justify-center">
  	 	<img src='/stats.png' />
		<p>Statistical approaches for laryngology, voice, and speech research</p>
  	</div>
	<div class='text-3xl flex flex-col py-8 px-8 px-8 mr-64 text-center bg-blue-600 text-white rounded-full'>
	  	<img src='/roundtables.png' />
		<p>Research Roundtables</p>
	</div>
	<div class='text-3xl py-8 px-8 ml-64 mt-8 text-center bg-blue-300 text-white rounded-full size-5/12 items-center justify-center'>
  	 	<img src='/bird.png' />
		<p>Vocal learning in songbirds</p>
  	</div>
	<div class='text-3xl flex flex-col py-8 px-8 px-8 mr-64 text-center bg-blue-600 text-white rounded-full'>
	  	<img src='/3d-print.png' />
		<p>3D-printing of voice and speech prostheses by <a class='underline' href='https://umcgresearch.org/w/3d-lab'>3D Lab UMCG</a></p>
	</div>
	<div class='text-3xl flex flex-col py-8 px-8 px-8 mr-64 text-center bg-blue-900 text-white rounded-full'>
	  	<img src='/roundtables.png' />
		<p>Research Roundtables: professional development in laryngology, voice, and speech research</p>
	</div>
	<div class='text-3xl flex flex-col py-8 px-8 px-8 mr-64 text-center border-solid border-3 border-blue-900 text-blue-900'>
	  	<img src='drinks.png' />
		<p class='font-bold'>Drinks</p>
	</div>
		
</div>

</div>

</main>
<Footer />
</body>
</html>
