
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <HeadBase title={FULL_TITLE} />
  </head> 
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
        <p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Register now!</a></p>
        </div>

<div class="container px-4 py-4">
	<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Registration</h2>


	<div class='flex flex-col flex-wrap px-4 py-4 mt-8'>
		
<div class='flex flex-col border-solid border-color-blue-800 border-width-4 hover:bg-blue-800 hover:text-white flex-1 py-4 mt-8'>
			<table>
<tr>
			
			<td class='text-center mx-auto px-4'>	
				<p class='text-center mx-auto px-4'><b>Trainee</b></br>
				<ul>
					<li>Conference & Workshop: 150</li>
					<li>Dinner: 50</li>
				</ul>
			</td>
<td>
<p class='text-center mx-auto my-8 px-4'>
				<span class='text-2xl'><b>Early Bird  </b></span><span class='text-l'>  (before April 31st)</span>
			</p></td>
<td class='text-center mx-auto px-4'>	
				<p class='text-center mx-auto px-4'><b>Non-Trainee</b></br>
				<ul>
					<li>Conference: 230 | Workshop: 20</li>
					<li>Dinner: 70</li>
				</ul>
				</p>
</td></tr></table>
        <p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Register here!</a></p>

		</div>

	<div class='flex flex-col flex-wrap px-4 py-4 mt-8'>
		
<div class='flex-1 px-4 py-4 mx-8 mt-8 mb-8 transition shadow-md hover:shadow-xl shadow-blue-800/50'>
	<table>
		<tr>
			<td class='text-center mx-auto px-4'>	
				<p class='text-center mx-auto px-4'>
					<b>Trainee</b></br>
					<ul>
						<li>Conference & Workshop: 150</li>
						<li>Dinner: 50</li>
					</ul>
				</p>
			</td>
			<td>
				<p class='text-center mx-auto my-8 px-4'>
					<span class='text-2xl'><b>Regular  </b></span><span class='text-l'>  (from April 31st to June 2d)</span>
				</p>
			</td>
			<td class='text-center mx-auto px-4'>	
				<p class='text-center mx-auto px-4'><b>Non-Trainees</b></br>
					<ul>
						<li>Conference: 280 | Workshop: 30</li>
						<li>Dinner: 70</li>
					</ul>
				</p>
			</td>
		</tr>
	</table>
		</div>

<div class='bg-gray-100  px-4 py-4'>
	<h2 class="text-blue-900 font-bold text-3xl text-center mt-8">Accommodation</h2>

<div class='flex flex-wrap px-4 py-4 mt-8'>
	<div class='border-solid border-color-blue-800 border-width-4 flex-1 px-4 py-4 mt-8'>
		<img src=''/>
		<p class='text-blue-900 text-xl'>Trainees</p>
		<p> Trainee (Bachelor student, Master student, PhD) accomodations have a set fee of €130 for a
shared room (fees will be covered by the conference but registration is still required). If you'd like to book a trainee accommodation, please fill in the form! </p>
<p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Book a trainee room</a></p>

	</div>
	
	<div class='border-solid border-color-blue-800 border-width-4 hover:bg-blue-800 hover:text-white flex-1 py-4 px-4 mt-8'>
		<p class='text-blue-900 text-xl'>Non-Trainees</p>
		<p>Room options and costs are <b>reserved for the conference until April 1st</b> so please book as soon as possible.</p>
		<div class='border-solid border-color-blue-800 border-width-4 hover:bg-blue-800 hover:text-white flex-1 py-4 mt-8'>
		<img />
		<p class='text-center mx-auto my-8 px-4'>
			<b>Hotel Halbert</b></br>
			<i>(prices)</i></p>
<a href=''><i><u>Learn more about Hotel Halbert</i></u></a>
	</div>
	<div class='border-solid border-color-blue-800 border-width-4 hover:bg-blue-800 hover:text-white flex-1 py-4 mt-8'>
		<img />
		<p class='text-center mx-auto my-8 px-4'>
			<b>Happy Traveller</b></br>
			<i>(prices)</i>
<a href=''><i><u>Learn more about The Happy Traveller</i></u></a>

		</p>
		<p class="text-center mt-12 mb-8"><a href="/registration" class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium">Book a room</a></p>
	</div>
</div>
</div>
</div>

    </main>
    <Footer />
  </body>
</html>
