
---
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { FULL_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <HeadBase title={FULL_TITLE} />
  </head> 
  <body>
    <Header />
    <main>
<div class="relative bg-[url('/groningen.jpg')] bg-cover py-20 px-4 min-h-[70vh]">
        <div class="relative text-center text-white [text-shadow:_0_0_8px_rgb(0_0_0)]">
          <div class="text-4xl leading-relaxed font-medium">
            The 16th International Conference on Advances in<br />Quantitative Laryngology, Voice and Speech Research
          </div>
          <div class="text-3xl mt-4">Groningen, the Netherlands</div>
          <div class="text-3xl mt-4">June 24th - 27th, 2025</div>
        </div>
<p class="text-center mt-24 mb-8"><a href='/AQL2025_Program_booklet.pdf' class="bg-blue-800 hover:bg-blue-600 transition shadow-md hover:shadow-lg px-8 py-4 text-white rounded-xl font-medium" 
download="AQL2025_Program_booklet.pdf">
Download info booklet</a></p>
        </div>

<div class="container px-4 py-4">

	  <div class='flex flex-wrap py-4 px-8 mt-8 mb-8 text-center justify-center'>
		<div class='w-12/12 py-4 px-8 mt-8'>
			<h4 class="text-blue-900 font-bold text-3xl text-center">Workshop — Tuesday, March 24th</h4>
		</div>
	
		<div class='px-4 py-4 mt-8 text-center flex flex-col px-8 my-8 py-8'>
			<div class='flex flex-col md:flex-row text-2xl text-center bg-blue-900 text-white rounded-full items-center justify-center mx-auto py-8 px-8 my-8'>
		  	 	<img src='/bird.png' class='mx-auto'/>
				<p class='mx-auto p-8'>
					<b>Vocal learning in songbirds</b></br>
					10:00 – 11:00</br></br>
					<i>Sanne Moorman</i>
				</p>
		  	</div>
			<div class='flex flex-col md:flex-row text-2xl text-center bg-blue-400 text-white rounded-full items-center justify-center mx-auto py-8 px-8 my-8'>
		  	 	<img src='/stats.png' class='mx-auto'/>
				<p class='mx-auto p-8'>
					<b>Statistics for speech science</b></br>
					Part I: 11:00 – 12:00 | <i>lunch</i> | Part II: 13:00 – 14:00</br></br>
					<i>Jacolien van Rij</i>
				</p>
		  	</div>
			<div class='flex flex-col md:flex-row text-2xl text-center bg-blue-900 text-white rounded-full items-center justify-center mx-auto py-8 px-8 my-8'>
		  	 	<img src='/3d-printing.png' class='mx-auto'/>
				<p class='mx-auto p-8'>
					<b>3D-printing of voice and speech prostheses</b></br>
					14:00 – 15:00</br></br>
					<i>Max Witjes from <a class='underline' href='https://3dlabgroningen.nl/en/3d-surgery-3d-healthcare-by-3d-technology/'>3D Lab UMCG</a></i>
				</p>
		  	</div>
			<div class='flex flex-col md:flex-row text-2xl text-center bg-blue-600 text-white rounded-full items-center justify-center mx-auto py-8 px-8 my-8'>
		  	 	<img src='/van.png' class='mx-auto'/>
				<p class='mx-auto p-8'>
					<b>SPRAAKLAB: Mobile van Demo</b></br>
					15:00 – 16:00
				</p>
		  	</div>
			<div class='flex flex-col md:flex-row text-2xl text-center bg-blue-800 text-white rounded-full items-center justify-center mx-auto py-8 px-8 my-8'>
		  	 	<img src='/roundtables.png' class='mx-auto'/>
				<p class='mx-auto p-8'>
					<b>Research Roundtables</b></br>
					16:00 – 17:30
				</p>
		  	</div>
		</div>
			
	</div>

</div>

</main>
<Footer />
</body>
</html>
