---
import HeaderLink from "./HeaderLink.astro";
import { FULL_TITLE, SHORT_TITLE } from "../consts";
---

<header class="border-b-2">
  <div class="container px-4">
    <nav class="flex justify-between items-center">
      <div class="flex-1">
        <h1 class="text-3xl font-medium"><a href="/">{SHORT_TITLE}</a></h1>
        <!-- <div>{FULL_TITLE}</div> -->
      </div>
        <div class="text-center mt-12 mb-8 flex">
          <a class="px-8 py-4 background-color:#14191f hover:bg-blue-800 transition shadow-md hover:shadow-lg text-white rounded-xl font-medium text-center" href='https://bsky.app/profile/aql-conference.bsky.social'>
            Follow AQL on Bluesky<img class='flex w-1/12' src="/bluesky.png" alt=""/></a>
        </div>
   <HeaderLink href="/" class="hidden md:block">Home</HeaderLink>
        <HeaderLink href="/submission">Abstract Submission</HeaderLink>
        <HeaderLink href="/about-aql">About AQL</HeaderLink>
        <HeaderLink href="/team">Organisers</HeaderLink>
        <!-- <HeaderLink href="/keynote-speakers">Keynote Speakers</HeaderLink> -->
        <!-- <HeaderLink href="/general-information">General Information</HeaderLink>
        <HeaderLink href="/program">Program</HeaderLink>
        <HeaderLink href="/venue">Venue</HeaderLink>
        <HeaderLink href="/contact">Contact</HeaderLink> -->
      <!-- </div> -->
    </nav>
  </div>
</header>
