---
import HeaderLink from "./HeaderLink.astro";
import { FULL_TITLE, SHORT_TITLE } from "../consts";
---

<header class="border-b-2">
    <nav class="flex justify-between items-center">
      <div class="flex-1">
        <a href="/"><img src='/logo.png'></a>
      </div>
    <!--     <div class="text-center justify">
          <a class="px-4 py-4 bg-blue-900 hover:bg-blue-800 transition shadow-md hover:shadow-lg text-white rounded-xl font-medium text-center" href='https://bsky.app/profile/aql-conference.bsky.social'>
            <span>Follow AQL on Bluesky</span>
            <img class='w-1/12' src="/bluesky.png" alt=""/>
          </a>
        </div> -->
   <HeaderLink href="/" class="hidden md:block">Home</HeaderLink>
        <HeaderLink href="/registration">Registration</HeaderLink>
        <HeaderLink href="/info-presenters">Information for Presenters</HeaderLink>

        <HeaderLink href="/about-aql">About AQL</HeaderLink>
        <HeaderLink href="/keynotes">Keynote Speakers</HeaderLink>
        <HeaderLink href="/team">Organisers</HeaderLink>

       <!-- <HeaderLink href="/travel-to-groningen">Travel to Groningen</HeaderLink> -->
        <!-- <HeaderLink href="/general-information">General Information</HeaderLink>
        <HeaderLink href="/program">Program</HeaderLink>
        <HeaderLink href="/venue">Venue</HeaderLink>
        <HeaderLink href="/contact">Contact</HeaderLink> -->
      <!-- </div> -->
    </nav>
</header>
