---
import HeaderLink from "./HeaderLink.astro";
import { FULL_TITLE, SHORT_TITLE } from "../consts";
---

<header class="border-b-2">
  <div class="container px-4">
    <nav class="flex justify-between items-center">
      <div class="flex-1">
        <h1 class="text-3xl font-medium"><a href="/">{SHORT_TITLE}</a></h1>
        <!-- <div>{FULL_TITLE}</div> -->
      </div>
      <div>
          <a href='https://bsky.app/profile/aql-conference.bsky.social'>
          <h3 class='text-blue-900 w-1/12'><b>Follow AQL on Bluesky</b><img class='max-width-100' src="/bluesky.png" alt=""/></h3></a>
        </div>
   <HeaderLink href="/" class="hidden md:block">Home</HeaderLink>
        <HeaderLink href="/submission">Abstract Submission</HeaderLink>
        <HeaderLink href="/about-aql">About AQL</HeaderLink>
        <HeaderLink href="/team">Organisers</HeaderLink>
        <!-- <HeaderLink href="/keynote-speakers">Keynote Speakers</HeaderLink> -->
        <!-- <HeaderLink href="/general-information">General Information</HeaderLink>
        <HeaderLink href="/program">Program</HeaderLink>
        <HeaderLink href="/venue">Venue</HeaderLink>
        <HeaderLink href="/contact">Contact</HeaderLink> -->
      <!-- </div> -->
    </nav>
  </div>
</header>
