---
import BaseHead from "./components/HeadBase.astro";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={frontmatter.title} />
  </head>

  <body>
    <Header />
    <main class="container px-4 py-12">
      <div class="mx-auto prose prose-a:text-blue-600 prose-a:font-normal">
		<h1>{frontmatter.title}</h1>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
